<div class="mp-preview">
  @switch (kind()) {
    @case ('image') {
      <img [src]="url()" class="mp-media mp-image" alt="Media preview" />
    }
    @case ('video') {
      <video [src]="url()" class="mp-media mp-video" controls></video>
    }
    @case ('pdf') {
      <iframe [src]="safePdfUrl()" class="mp-media mp-pdf-frame" title="PDF preview"></iframe>
      <a [href]="url()" target="_blank" rel="noopener noreferrer" class="mp-pdf-link">
        <i class="bi bi-box-arrow-up-right"></i> Open PDF in new tab
      </a>
    }
  }
</div>
